#### Alexander Ovechkin Stats and Awards

In [3]:
# imports
import pandas as pd
import numpy as np
import zipfile
import os

In [4]:
# unzip the folder
with zipfile.ZipFile('data/HockeyData.zip', 'r') as zip_ref:
    zip_ref.extractall('data')

**Hall of Fame dataframe**

In [5]:
# read hall of fame csv file
hof = pd.read_csv('data/HOF.csv')

In [6]:
# check if Alex Ovechkin has been admitted to the hall of fame 
hof.loc[hof['name']=='Alexander Ovechkin']

Empty DataFrame
Columns: [year, hofID, name, category]
Index: []

**Player awards**

In [7]:
# read awards csv file
awards = pd.read_csv('data/AwardsPlayers.csv')

In [8]:
# observe the awards given to Ovechkin
ovechkin_awards = awards.loc[awards['playerID'] == 'ovechal01'] 
ovechkin_awards.head()

       playerID                award  year lgID note  pos
1720  ovechal01           All-Rookie  2005  NHL  NaN    F
1723  ovechal01               Calder  2005  NHL  NaN  NaN
1730  ovechal01  First Team All-Star  2005  NHL  NaN   LW
1765  ovechal01  First Team All-Star  2006  NHL  NaN   LW
1791  ovechal01             Art Ross  2007  NHL  NaN  NaN

**Master dataframe**

In [9]:
# read master csv file
master = pd.read_csv('data/Master.csv')

In [10]:
# see Ovechkin's stats
ovechkin_stats = master.loc[master['playerID'] == 'ovechal01']
ovechkin_stats

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
5355,ovechal01,NaN,NaN,Alex,Ovechkin,NaN,Alexander Mikhaylovich,NaN,74.0,220.0,...,17.0,Russia,NaN,Moscow,NaN,NaN,NaN,NaN,NaN,NaN

**Scoring**

In [11]:
# read scoring csv file
scoring = pd.read_csv('data/Scoring.csv')

In [12]:
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'PPG', 'PPA', 'SHG', 'SHA', 'GWG', 'GTG', 'SOG',
       'PostGP', 'PostG', 'PostA', 'PostPts', 'PostPIM', 'Post+/-', 'PostPPG',
       'PostPPA', 'PostSHG', 'PostSHA', 'PostGWG', 'PostSOG'],
      dtype='object')

In [13]:
# observe stats scoring stats related to the player
ovechkin_score = scoring.loc[scoring['playerID'] == 'ovechal01']
ovechkin_score.head()

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
31653,ovechal01,2005,1,WAS,NHL,L,81.0,52.0,54.0,106.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31654,ovechal01,2006,1,WAS,NHL,L,82.0,46.0,46.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31655,ovechal01,2007,1,WAS,NHL,L,82.0,65.0,47.0,112.0,...,5.0,9.0,0.0,-1.0,1.0,5.0,0.0,0.0,2.0,37.0
31656,ovechal01,2008,1,WAS,NHL,L,79.0,56.0,54.0,110.0,...,10.0,21.0,8.0,10.0,3.0,5.0,0.0,0.0,1.0,90.0
31657,ovechal01,2009,1,WAS,NHL,L,72.0,50.0,59.0,109.0,...,5.0,10.0,0.0,5.0,1.0,0.0,0.0,0.0,0.0,34.0

**Shootouts**

In [14]:
# read scoring shootouts csv file
shoot = pd.read_csv('data/ScoringShootout.csv')

In [15]:
# observe shots / goals ratio
ovechkin_shoot = shoot.loc[shoot['playerID'] == 'ovechal01']
ovechkin_shoot.head()

       playerID  year  stint tmID   S  G  GDG
1292  ovechal01  2005      1  WAS  13  6    3
1293  ovechal01  2006      1  WAS  12  2    0
1294  ovechal01  2007      1  WAS   6  1    0
1295  ovechal01  2008      1  WAS   7  2    0
1296  ovechal01  2009      1  WAS   9  2    1

#### Washington Capitals Stats and Awards

**Series Wins & Losses**

In [16]:
# read series post csv file
series = pd.read_csv('data/SeriesPost.csv')

In [37]:
# see Capital's wins
was_wins = series.loc[series['tmIDWinner'] == 'WAS']
was_wins.head()

,year,round,series,tmIDWinner,lgIDWinner,tmIDLoser,lgIDLoser,W,L,T,GoalsWinner,GoalsLoser,note
415,1983,DSF,D,WAS,NHL,PHI,NHL,3,0,0,15,5,NaN
445,1985,DSF,D,WAS,NHL,NYI,NHL,3,0,0,11,4,NaN
475,1987,DSF,D,WAS,NHL,PHI,NHL,4,3,0,31,25,NaN
505,1989,DSF,D,WAS,NHL,NJD,NHL,4,2,0,21,18,NaN
511,1989,DF,J,WAS,NHL,NYR,NHL,4,1,0,22,15,NaN

In [29]:
# see Capitals' losses
was_losses = series.loc[series['tmIDLoser'] == 'WAS']
was_losses.head()

,year,round,series,tmIDWinner,lgIDWinner,tmIDLoser,lgIDLoser,W,L,T,GoalsWinner,GoalsLoser,note
400,1982,DSF,D,NYI,NHL,WAS,NHL,3,1,0,19,11,NaN
421,1983,DF,J,NYI,NHL,WAS,NHL,4,1,0,20,13,NaN
430,1984,DSF,D,NYI,NHL,WAS,NHL,3,2,0,14,12,NaN
451,1985,DF,J,NYR,NHL,WAS,NHL,4,2,0,20,25,NaN
460,1986,DSF,D,NYI,NHL,WAS,NHL,4,3,0,19,19,NaN

**Team vs Team Stats**

In [19]:
# read team vs team csv file
team_vs_team = pd.read_csv('data/TeamVsTeam.csv')

In [30]:
# explore Capitals' opponents
was_team_stats = team_vs_team.loc[team_vs_team['tmID'] == 'WAS']
was_team_stats.head()

      year lgID tmID oppID  W  L    T  OTL
4199  1974  NHL  WAS   ATF  0  3  1.0  NaN
4200  1974  NHL  WAS   BOS  0  4  1.0  NaN
4201  1974  NHL  WAS   BUF  0  5  0.0  NaN
4202  1974  NHL  WAS   CHI  1  3  0.0  NaN
4203  1974  NHL  WAS   CLF  2  3  0.0  NaN

**Team Stats**

In [21]:
# read teams csv file
teams = pd.read_csv('data/Teams.csv')

In [33]:
# see Capitals' stats
was = teams.loc[teams['tmID'] == 'WAS']
was.head()

,year,lgID,tmID,franchID,confID,divID,rank,playoff,G,W,...,GA,name,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
574,1974,NHL,WAS,WAS,WA,NO,5,NaN,80,8,...,446,Washington Capitals,1085.0,14.0,48.0,372.0,18.0,94.0,328.0,8.0
606,1975,NHL,WAS,WAS,WA,NO,5,NaN,80,11,...,394,Washington Capitals,951.0,8.0,53.0,375.0,3.0,64.0,252.0,2.0
638,1976,NHL,WAS,WAS,WA,NO,4,NaN,80,24,...,307,Washington Capitals,1231.0,16.0,39.0,293.0,14.0,62.0,285.0,10.0
668,1977,NHL,WAS,WAS,WA,NO,5,NaN,80,17,...,321,Washington Capitals,1332.0,10.0,34.0,278.0,15.0,73.0,260.0,2.0
695,1978,NHL,WAS,WAS,WA,NO,4,NaN,80,24,...,338,Washington Capitals,1312.0,20.0,57.0,302.0,12.0,83.0,279.0,5.0

**Teams Half Season**

In [23]:
# read teams half season csv file
teamshalf = pd.read_csv('data/TeamsHalf.csv')

In [34]:
# look at Capitals' performance 
was_half = teamshalf.loc[teamshalf['tmID'] == 'WAS']
was_half.head()

Empty DataFrame
Columns: [year, lgID, tmID, half, rank, G, W, L, T, GF, GA]
Index: []

**Teams Post Seasons**

In [25]:
# read Teams post season csv file
teamspost = pd.read_csv('data/TeamsPost.csv')

In [35]:
# see Capitals' stats
was_post = teamspost.loc[teamspost['tmID'] == 'WAS']
was_post.head()

,year,lgID,tmID,G,W,L,T,GF,GA,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
477,1982,NHL,WAS,4,1,3,0,11,19,98.0,0.0,1.0,24.0,0.0,3.0,18.0,0.0
493,1983,NHL,WAS,8,4,4,0,28,25,161.0,2.0,10.0,38.0,1.0,5.0,25.0,0.0
509,1984,NHL,WAS,5,2,3,0,12,14,90.0,0.0,4.0,28.0,0.0,3.0,17.0,0.0
525,1985,NHL,WAS,9,5,4,0,36,24,209.0,0.0,9.0,40.0,1.0,7.0,36.0,2.0
541,1986,NHL,WAS,7,3,4,0,19,19,199.0,0.0,2.0,36.0,0.0,4.0,30.0,0.0

**Teams Stanley Cup**

In [27]:
# read teams stanley cup csv file
teamssc = pd.read_csv('data/TeamsSC.csv')

In [36]:
was_sc = teamssc.loc[teamssc['tmID'] == 'WAS'] # the data is up to 1925 and does not mention the Penguins
was_sc.head()

Empty DataFrame
Columns: [year, lgID, tmID, G, W, L, T, GF, GA, PIM]
Index: []