#### Sidney Crosby Stats and Awards

In [5]:
# imports
import pandas as pd
import numpy as np
import zipfile
import os
import statistics
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import matplotlib.style as style

**Hall of Fame dataframe**

In [6]:
# read hall of fame csv file
hof = pd.read_csv('data/HOF.csv')

In [7]:
# check if Sidney Crosby has been admitted to the hall of fame 
hof.loc[hof['name']=='Sidney Crosby']

Empty DataFrame
Columns: [year, hofID, name, category]
Index: []

**Player awards**

In [8]:
# read awards csv file
awards = pd.read_csv('data/AwardsPlayers.csv')

In [9]:
# observe the awards given to Crosby
crosby_awards = awards.loc[awards['playerID'] == 'crosbsi01'] 
crosby_awards

       playerID                 award  year lgID    note  pos
1717  crosbsi01            All-Rookie  2005  NHL     NaN    F
1756  crosbsi01              Art Ross  2006  NHL     NaN  NaN
1761  crosbsi01   First Team All-Star  2006  NHL     NaN    C
1766  crosbsi01                  Hart  2006  NHL     NaN  NaN
1774  crosbsi01               Pearson  2006  NHL     NaN  NaN
1877  crosbsi01               Messier  2009  NHL     NaN  NaN
1880  crosbsi01               Richard  2009  NHL  shared  NaN
1883  crosbsi01  Second Team All-Star  2009  NHL     NaN    C

**Master dataframe**

In [10]:
# read master csv file
master = pd.read_csv('data/Master.csv')

In [11]:
crosby_stats = master.loc[master['playerID'] == 'crosbsi01']
crosby_stats

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
1418,crosbsi01,NaN,NaN,Sidney,Crosby,NaN,Sidney Patrick,NaN,71.0,200.0,...,7.0,Canada,NS,Cole Harbour,NaN,NaN,NaN,NaN,NaN,NaN

**Scoring**

In [12]:
# read scoring csv file
scoring = pd.read_csv('data/Scoring.csv')

In [13]:
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'PPG', 'PPA', 'SHG', 'SHA', 'GWG', 'GTG', 'SOG',
       'PostGP', 'PostG', 'PostA', 'PostPts', 'PostPIM', 'Post+/-', 'PostPPG',
       'PostPPA', 'PostSHG', 'PostSHA', 'PostGWG', 'PostSOG'],
      dtype='object')

In [14]:
# observe stats scoring stats related to the player
crosby_score = scoring.loc[scoring['playerID'] == 'crosbsi01']
crosby_score.head()

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
8209,crosbsi01,2005,1,PIT,NHL,C,81.0,39.0,63.0,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8210,crosbsi01,2006,1,PIT,NHL,C,79.0,36.0,84.0,120.0,...,2.0,5.0,4.0,0.0,1.0,1.0,0.0,0.0,1.0,20.0
8211,crosbsi01,2007,1,PIT,NHL,C,53.0,24.0,48.0,72.0,...,21.0,27.0,12.0,7.0,2.0,12.0,0.0,0.0,1.0,59.0
8212,crosbsi01,2008,1,PIT,NHL,C,77.0,33.0,70.0,103.0,...,16.0,31.0,14.0,9.0,5.0,5.0,0.0,0.0,2.0,79.0
8213,crosbsi01,2009,1,PIT,NHL,C,81.0,51.0,58.0,109.0,...,13.0,19.0,6.0,6.0,1.0,8.0,0.0,0.0,1.0,41.0

In [15]:
# average +/- score of the player
statistics.mean(crosby_score['+/-'])

11.428571428571429

In [16]:
# average goals
statistics.mean(crosby_score['G'])

31.857142857142858

In [17]:
# avrage assists
statistics.mean(crosby_score['A'])

55.142857142857146

**Shootouts**

In [18]:
# read scoring shootouts csv file
shoot = pd.read_csv('data/ScoringShootout.csv')

In [19]:
# observe shots / goals ratio
crosby_shoot = shoot.loc[shoot['playerID'] == 'crosbsi01']
crosby_shoot.head()

      playerID  year  stint tmID   S  G  GDG
357  crosbsi01  2005      1  PIT   6  2    1
358  crosbsi01  2006      1  PIT  15  5    4
359  crosbsi01  2007      1  PIT   7  2    2
360  crosbsi01  2008      1  PIT  10  3    2
361  crosbsi01  2009      1  PIT  10  8    4

#### Pittsburgh Penguins Stats and Awards

**Series Wins & Losses**

In [20]:
# read series post csv file
series = pd.read_csv('data/SeriesPost.csv')

In [21]:
# see Penguins' wins
pit_wins = series.loc[series['tmIDWinner'] == 'PIT']
pit_wins.head()

,year,round,series,tmIDWinner,lgIDWinner,tmIDLoser,lgIDLoser,W,L,T,GoalsWinner,GoalsLoser,note
218,1969,QF,D,PIT,NHL,OAK,NHL,4,0,0,13,6,NaN
267,1974,Pre,C,PIT,NHL,STL,NHL,2,0,0,9,6,NaN
340,1978,Pre,D,PIT,NHL,BUF,NHL,2,1,0,9,9,NaN
490,1988,DSF,D,PIT,NHL,NYR,NHL,4,0,0,19,11,NaN
519,1990,DSF,C,PIT,NHL,NJD,NHL,4,3,0,21,21,NaN

In [22]:
# see Penguins' losses
pit_losses = series.loc[series['tmIDLoser'] == 'PIT']
pit_losses.head()

,year,round,series,tmIDWinner,lgIDWinner,tmIDLoser,lgIDLoser,W,L,T,GoalsWinner,GoalsLoser,note
220,1969,SF,F,STL,NHL,PIT,NHL,4,2,0,19,10,NaN
231,1971,QF,C,CHI,NHL,PIT,NHL,4,0,0,14,8,NaN
272,1974,QF,H,NYI,NHL,PIT,NHL,4,3,0,21,18,NaN
286,1975,Pre,D,TOR,NHL,PIT,NHL,2,1,0,8,3,NaN
306,1976,Pre,D,TOR,NHL,PIT,NHL,2,1,0,13,10,NaN

**Team vs Team Stats**

In [23]:
# read team vs team csv file
team_vs_team = pd.read_csv('data/TeamVsTeam.csv')

In [24]:
# explore Penguins' opponents
pit_team_stats = team_vs_team.loc[team_vs_team['tmID'] == 'PIT']
pit_team_stats

       year lgID tmID oppID  W  L    T  OTL
2505   1967  NHL  PIT   BOS  2  2  0.0  NaN
2506   1967  NHL  PIT   CHI  1  2  1.0  NaN
2507   1967  NHL  PIT   DET  1  3  0.0  NaN
2508   1967  NHL  PIT   LAK  4  6  0.0  NaN
2509   1967  NHL  PIT   MNS  4  3  3.0  NaN
...     ...  ...  ...   ... .. ..  ...  ...
25394  2011  NHL  PIT   TBL  3  1  NaN  0.0
25395  2011  NHL  PIT   TOR  2  2  NaN  0.0
25396  2011  NHL  PIT   VAN  1  0  NaN  0.0
25397  2011  NHL  PIT   WAS  2  1  NaN  1.0
25398  2011  NHL  PIT   WPG  3  1  NaN  0.0

[927 rows x 8 columns]

In [25]:
# see what teams had most wins vs the Penguins
pit_team_stats.groupby('oppID')['W'].sum().sort_values(ascending = False)

oppID
NYR    109
NYI    103
WAS     93
PHI     89
TOR     73
BUF     73
NJD     70
BOS     62
DET     61
LAK     60
VAN     59
MTL     54
MNS     54
STL     50
CHI     43
OTT     42
FLO     38
TBL     37
ATL     33
HAR     30
WIN     30
QUE     27
CAR     27
CAL     27
EDM     26
CLF     18
COR     15
ATF     13
SJS     11
DAL     11
CBS      9
OAK      9
PHO      9
ANA      8
CLE      8
NAS      6
COL      6
AND      4
KCS      4
MIN      3
WPG      3
Name: W, dtype: int64

**Team Stats**

In [26]:
# read teams csv file
teams = pd.read_csv('data/Teams.csv')

In [27]:
# see Penguins' stats
pit = teams.loc[teams['tmID'] == 'PIT']
pit.head()

,year,lgID,tmID,franchID,confID,divID,rank,playoff,G,W,...,GA,name,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
446,1967,NHL,PIT,PIT,NaN,WD,5,NaN,74,27,...,216,Pittsburgh Penguins,548.0,NaN,37.0,273.0,11.0,30.0,195.0,2.0
458,1968,NHL,PIT,PIT,NaN,WD,5,NaN,76,20,...,252,Pittsburgh Penguins,669.0,NaN,50.0,303.0,9.0,38.0,231.0,8.0
470,1969,NHL,PIT,PIT,NaN,WD,2,SF,76,26,...,238,Pittsburgh Penguins,1038.0,4.0,53.0,315.0,5.0,66.0,282.0,2.0
483,1970,NHL,PIT,PIT,NaN,WD,6,NaN,78,21,...,240,Pittsburgh Penguins,1079.0,6.0,56.0,318.0,9.0,48.0,276.0,5.0
497,1971,NHL,PIT,PIT,NaN,WD,4,QF,78,26,...,258,Pittsburgh Penguins,978.0,8.0,46.0,286.0,7.0,55.0,246.0,5.0

**Teams Half Season**

In [28]:
# read teams half season csv file
teamshalf = pd.read_csv('data/TeamsHalf.csv')

In [29]:
# look at Penguins' performance 
pit_half = teamshalf.loc[teamshalf['tmID'] == 'PIT']
pit_half.head()

Empty DataFrame
Columns: [year, lgID, tmID, half, rank, G, W, L, T, GF, GA]
Index: []

**Teams Post Seasons**

In [30]:
# read Teams post season csv file
teamspost = pd.read_csv('data/TeamsPost.csv')

In [31]:
# see Penguins' stats
pit_post = teamspost.loc[teamspost['tmID'] == 'PIT']
pit_post.head()

,year,lgID,tmID,G,W,L,T,GF,GA,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
268,1969,NHL,PIT,10,6,4,0,23,25,211.0,NaN,4.0,NaN,2.0,9.0,NaN,0.0
283,1971,NHL,PIT,4,0,4,0,8,14,71.0,NaN,1.0,NaN,1.0,0.0,NaN,1.0
326,1974,NHL,PIT,9,5,4,0,27,27,126.0,0.0,5.0,32.0,1.0,7.0,36.0,2.0
346,1975,NHL,PIT,3,1,2,0,3,8,25.0,0.0,1.0,13.0,0.0,2.0,9.0,0.0
369,1976,NHL,PIT,3,1,2,0,10,13,60.0,2.0,3.0,10.0,0.0,4.0,10.0,0.0

**Teams Stanley Cup**

In [32]:
# read teams stanley cup csv file
teamssc = pd.read_csv('data/TeamsSC.csv')

In [33]:
pit_sc = teamssc.loc[teamssc['tmID'] == 'PIT'] # the data is up to 1925 and does not mention the Penguins
pit_sc.head()

Empty DataFrame
Columns: [year, lgID, tmID, G, W, L, T, GF, GA, PIM]
Index: []